<div class="popup-overlay" *ngIf="showPopup">
    <div class="popup-content fx-c-center">
        <p>
            This website and its contents are for information purposes only. This website is not intended for
            solicitation of any services
        </p>
        <p>
            I hereby confirm that by accessing this website, I will be deemed to
            have reviewed and accepted certain terms therein, including confirmations
            that I am not based in a jurisdiction where such access would be
            prohibited or restricted in any manner.
        </p>
        <button (click)="confirmAccess()">Confirm</button>
    </div>
</div>