<div class="news_main fx-c-center">
    <div class="news_body  fx-c-center w100 ">
        <div class="news_header fx-c-start w90">
            <div class="news_header_child1 fx-r-start ">
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/home">HOME</a>
                <i class="fa-solid fa-chevron-right font-11"></i>
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/community/ethax-in-news">COMMUNITY</a>
                <i class="fa-solid fa-chevron-right font-11"></i>
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/community/ethax-in-news">NEWS</a>
            </div>
            <div class="news_header_child2">
                <h1 class="text-white font-40 fw-500">ETHAX IN NEWS</h1>
            </div>
        </div>
    </div>
</div>

<div class="main_card fx-c-center bg-black">
    <div class="card_body fx-r-spbtwn fx-wrap w90">
        <div class="card fx-c-center bg-black w23 cursor">
            <div class="card_image">
                <img src="../../../../assets/images/news-card1.webp" alt="news-card1" width="100%">
            </div>
            <div class="card_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">ETHAX MAKES THE COVER STORY</h1>
                    <p class="font-14 content-font text-white">Dec 16, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>

        <div class="card fx-c-center bg-black w23 cursor">
            <div class="card_image">
                <img src="../../../../assets/images/news-card2.webp" alt="news-card1" width="100%">
            </div>
            <div class="card_text card2_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">NAVIGATING THE NEW WAVE OF EMERGING CRYPTOCURRENCIES</h1>
                    <p class="font-14 content-font text-white">Nov 2, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>

        <div class="card card_sibling fx-c-center bg-black w23 cursor">
            <div class="card_image">
                <img src="../../../../assets/images/news-card3.webp" alt="news-card1" width="100%">
            </div>
            <div class="card_text card3_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">CLEANING UP IN CYPTO</h1>
                    <p class="font-14 content-font text-white">Aug 17, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>

        <div class="card card_sibling fx-c-center bg-black w23 cursor">
            <div class="card_image ">
                <img src="../../../../assets/images/news-card4.webp" alt="news-card1" width="100%">
            </div>
            <div class="card_text card4_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">DAN DA ROSA OF ETHAX ON 5 THINGS YOU NEED TO SUCCEED IN THE MODERN
                        WORLD OF FINANCE & FINTECH</h1>
                    <p class="font-14 content-font text-white">Aug 3, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="card_body fx-r-spbtwn fx-wrap  w90">
        <div class="card fx-c-center bg-black w23 cursor">
            <div class="card_image">
                <img src="../../../../assets/images/news-card5.webp" alt="news-card1" width="100%">
            </div>
            <div class="card_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">ETHAX MAKES THE FINTECH TOP 50 AT NUMBER 21</h1>
                    <p class="font-14 content-font text-white">Jul 13, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>

        <div class="card fx-c-center bg-black w23 cursor">
            <div class="card_image">
                <img src="../../../../assets/images/news-card6.png" alt="news-card1" width="100%">
            </div>
            <div class="card_text card6_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">FINTECBUZZ INTERVIEW WITH ETHAX, DAN DA ROSA, CHIEF EXECUTIVE OFFICER
                    </h1>
                    <p class="font-14 content-font text-white">Jun 24, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>

        <div class="card card_sibling fx-c-center bg-black w23 cursor">
            <div class="card_image">
                <img src="../../../../assets/images/news-card7.webp" alt="news-card1" width="100%">
            </div>
            <div class="card_text card7_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">ARTIFICIAL INTELLIGENCE: HOW WILL IT CHANGE THE FACE OF TRADING?</h1>
                    <p class="font-14 content-font text-white">Aug 17, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>

        <div class="card card_sibling fx-c-center bg-black w23 cursor">
            <div class="card_image ">
                <img src="../../../../assets/images/news-card8.webp" alt="news-card1" width="100%" height="50%">
            </div>
            <div class="card_text card8_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">ARE TRUSTWORTHY CRYPTOCURRENCIES A MYTH?</h1>
                    <p class="font-14 content-font text-white">Jun 6, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="card_body card3_body fx-r-start fx-wrap w90">
        <div class="card fx-c-center bg-black w23 cursor">
            <div class="card_image">
                <img src="../../../../assets/images/news-card9.webp" alt="news-card1" width="100%">
            </div>
            <div class="card_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">ETHAX MAKES THE FINTECH TOP 50 AT NUMBER 21</h1>
                    <p class="font-14 content-font text-white">Jul 13, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>

        <div class="card fx-c-center bg-black w23 cursor">
            <div class="card_image">
                <img src="../../../../assets/images/news-card10.webp" alt="news-card1" width="100%">
            </div>
            <div class="card_text card10_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">FINTECBUZZ INTERVIEW WITH ETHAX, DAN DA ROSA, CHIEF EXECUTIVE OFFICER
                    </h1>
                    <p class="font-14 content-font text-white">Jun 24, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>

        <div class="card card_sibling fx-c-center bg-black w23 cursor">
            <div class="card_image">
                <img src="../../../../assets/images/news-card11.webp" alt="news-card1" width="100%">
            </div>
            <div class="card_text card11_text fx-dc w90">
                <div class="card_story fx-dc">
                    <h1 class="font-13 text-blue">ARTIFICIAL INTELLIGENCE: HOW WILL IT CHANGE THE FACE OF TRADING?</h1>
                    <p class="font-14 content-font text-white">Aug 17, 2022</p>
                </div>
                <div class="read_article">
                    <h2 class="font-22 text-blue">READ ARTICLE</h2>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="follow fx-c-center bg-black">
    <div class="follow_body fx-dc w80">
        <div class="follow_text">
            <h1 class="font-40 text-white">FOLLOW ETHAX ON SOCIAL MEDIA</h1>
        </div>
        <div class="follow_icons fx-dr">
            <i class="fab fa-instagram font-20 text-blue font-40 cursor"></i>
            <i class="fab fa-telegram font-20 text-blue font-40 cursor"></i>
            <i class="fab fa-tiktok font-20 text-blue font-40 cursor"></i>
            <i class="fab fa-x-twitter font-20 text-blue font-40 cursor"></i>
            <i class="fab fa-youtube font-20 text-blue font-40 cursor"></i>
        </div>
        <!-- <div class="follow_para w90">
            <p class="font-14 content-font">[fts_instagram instagram_id=17841448319807144 
                access_token=IGQVJVVVRNRzRWMkNfQlJqNGE4TnB3RjlnSVZA1UGJxOXBPdkdoWnlRWWZARWkRlSHBKOHdtUkkt
                cGhWUi04NUJMemYyWV9QQl9ZARVRjZAUkzeEdTNmM0NGdJUHdRWi1jZAWJkTjJTX25B
                pics_count=6 type=basic popup=no super_gallery=yes columns=6 force_columns=yes
                space_between_photos=1px icon_size=65px hide_date_likes_comments=no]
            </p>
        </div> -->
    </div>
</div>

<div class="section3_main fx-c-center ">
    <div class="section3_body fx-c-center w100 ht-90">
        <div class="section3_text1 fx-r-center w100">
            <h1 class="text-white font-29">SUPER-POWERED <strong>TECHNOLOGY</strong> • SUPER-POWERED
                <strong>TRADING</strong>
            </h1>
        </div>
        <hr>
        <div class="section3_text2 fx-r-center w100">
            <h1 class="text-white font-29"> VIRTUALLY THE SMARTEST CRYPTO COMPANY <strong>IN THE WORLD</strong> </h1>
        </div>
        <hr>
        <div class="parallax_pages fx-r-spbtwn w90">
            <div class="parallax_pages_left fx-dr">
                <i class="fa-solid fa-chevron-left text-white font-32"></i>
                <h2 class="text-white font-32 fw-500 content-font cursor" routerLink="/community/ethax-in-news">COMMUNITY</h2>
            </div>
            <div class="parallax_pages_left fx-dr">
                <h2 class="text-white font-32 fw-500 content-font cursor" routerLink="/services/ethax-trader">ETHAX TRADER</h2>
                <i class="fa-solid fa-chevron-right text-white font-32"></i>
            </div>
         
        </div>
    </div>
</div>