.faq_main {
  background-image: url('../../../../assets/images/faq-bg.jpg');
  background-attachment: fixed;
  background-position: top;
}

.faq_body {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 1%, rgba(0, 0, 0, 0.47) 38%, #000000 100%);
  padding: 15% 0;
  justify-content: start !important;
  gap: 35px;
  // height: 135vh;
}
.faq_header_child1{
  gap: 8px;
}
a{
  text-decoration: none;
}

.section3_main {
  background-image: url('../../../../assets/images/faq-bg.jpg');
  background-attachment: fixed;
}

.section3_body {
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.3) 50%, #000000 100%);
  padding:50px;
}

.section3_text2 h1 {
  padding: 20px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.parallax_pages {
  padding-top: 12vw;
}
mat-accordion{
  width: 100% !important;
}
.mat-accordion .mat-expansion-panel:last-of-type{
  background: transparent !important;
  box-shadow: none;
  border: 2px solid white;
}
.mat-expansion-panel-header-title{
  color: white;
}

@media screen and (max-width:599px) {
  .faq_body {
    height: 0%;
  }
  .faq_header_child2 h1{
    font-size: 24px !important;
  }
  .mat-expansion-panel-header {
    padding: 0;
    // padding-left: 10px ;
    // text-align: center;
  }
  .mat-expansion-panel-header-title{
    margin-right: 0 !important;
  }
  mat-panel-title{
    font-size: 12px !important;
    // text-align: center !important;
  }
  ::ng-deep.mat-expansion-panel-header:not([aria-disabled=true]):hover{
    background: none !important;
  }
  .section3_body {
    height: 0% !important;
    padding: 11px;
    align-items: center !important;
  }
  .section3_text1{
    padding-top: 50px;
  }
  .section3_text1 h1 {
    font-size: 15px !important;
    font-weight: 500 !important;
    text-align: center;
    width: 99%;
    line-height: 1.3;
  }

  .section3_text2 h1 {
    font-size: 15px !important;
    font-weight: 500 !important;
    text-align: center;
    width: 88%;
    padding-left: 10px;
    line-height: 1.3;
  }
}

@media screen and (min-width:600px) and (max-width:1023px) {
  .faq_body {
    height: 0%;
    padding:5% !important;
  }
  ::ng-deep.mat-expansion-panel-header:not([aria-disabled=true]):hover{
    background: none !important;
  }
  .section3_text1 h1{
    font-weight: 500 !important;
    text-align: center;
    width: 95%;
    line-height: 1.3;
}
.section3_text2 h1{
    font-weight: 500 !important;
    text-align: center !important;
    width: 88%;
    padding-left: 10px;
    line-height: 1.3;
}
}

@media screen and (min-width:1024px) and (max-width:1439px) {
  .faq_body {
    padding-bottom:5% ;
  }
}