<div class="dashboard_main fx-c-center pad-tb-20-sec">
    <div class="dashboard_body fx-c-center ">
        <div class="logo fx-c-center">
            <img src="../../../assets/images/dashboard-logo.png" alt="dashboard-logo" width="43%">
        </div>

        <div class="main_form fx-c-center w40">
            <form action="" class="fx-c-center">
                <div class="form_heading fx-dc">
                    <h1 class="content-font text-blue fw-600">SIGN IN</h1>
                    <p class="font-11 text-white content-font">WITH YOUR ETHAX ACCOUNT</p>
                </div>

                <div class="form_child1 fx-c-center">
                    <div class="form_group">
                        <input type="text" placeholder="Email" class="text-white content-font font-16">
                    </div>
                    <div class="form_group">
                        <input type="text" placeholder="Password" class="text-white content-font font-16">
                    </div>
                </div>

                <div class="form_child2 fx-r-spbtwn w100">
                    <div class="form_child2_remember fx-r-center">
                        <input type="checkbox">
                        <p class="text-white content-font font-14">Remember Me</p>
                    </div>
                    <div class="form_child2_forget fx-r-center">
                        <p class="content-font text-purple font-14 cursor" routerLink="/accounts/forget">Forget Password?</p>
                    </div>
                </div>

                <div class="form_buttons fx-dc">
                    <button class="content-font text-white bg-purple font-14 cursor">SIGN IN</button>
                    <button class="content-font text-white bg-purple font-14 cursor" routerLink="/home">BACK TO MAIN SITE</button>
                </div>
            </form>
        </div>
        <div class="policy fx-c-center">
            <p class="content-font text-white font-13 cursor" routerLink="/shared/privacy-policy">Privacy Policy</p>
            <p class="content-font text-white font-13 cursor" routerLink="/shared/terms-conditions">Terms and Conditions</p>
            <p class="content-font text-white font-13">© 2022 ETHAX. All Right Reserved.</p>
        </div>
    </div>
</div>