<div class="buy_main fx-c-center">
    <div class="buy_body fx-c-center w100 ">
        <div class="buy_header fx-c-start w90">
            <div class="buy_header_child1 fx-r-start ">
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/home">HOME</a>
                <i class="fa-solid fa-chevron-right font-11"></i>
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/shared/buy-ethax">BUY ETHAX</a>
            </div>
            <div class="buy_header_child2">
                <h1 class="text-white font-40 fw-500">BUY ETHAX</h1>
            </div>
        </div>

        <div class="count_main fx-r-center w90">
            <div class="count_body fx-r-spbtwn w100 fx-wrap">
                <div class="count_child1">
                    <div class="child1_num">
                        <h1 class="text-white content-font ">$1,200,000,000</h1>
                    </div>
                    <div class="child1_project">
                        <p class="text-white content-font">PROJECTED MARKET CAP</p>
                    </div>
                </div>

                <div class="count_child1">
                    <div class="child1_num">
                        <h1 class="text-white content-font">$300,000,000</h1>
                    </div>
                    <div class="child1_project">
                        <p class="text-white content-font">PROJECTED TRADING VOLUME</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ethaxSwap_main fx-r-center pad-tb-20-sec">
            <div class="ethaxSwap_body fx-r-spbtwn fx-wrap w90">
                <div class="ethaxSwap_child1 fx-dc">
                    <div class="swap_img fx-r-center">
                        <img src="../../../assets/images/swap.png" alt="swap-logo">
                    </div>
                    <p class="swap_text text-blue font-22 w100">VIRTUALLY BRILLIANT.THE FIRST ZERO-FREE DEX IN THE
                        WORLD.
                        THE MOST USER FRIENDLY EXCHANGE ON THE WEB.
                    </p>
                </div>
                <div class="ethaxSwap_child2 fx-c-center w20">
                    <div class="token_button fx-c-center">
                        <p class="text-white font-16">ETHAX TOKEN</p>
                        <a href="https://ethax.io/home" target="_blank"><button class="font-14">BUY NOW</button></a>
                    </div>
                    <div class="token_button fx-c-center">
                        <p class="text-white font-16">STAKING POOL</p>
                        <a href="https://ethax.io/pools" target="_blank"><button class="font-14">BUY NOW</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="other_exchange fx-r-center ">
            <div class="other_exchange_body fx-r-spbtwn fx-wrap w90">
                <div class="heading w100">
                    <h2 class="font-26 text-white text-a-c">OTHER EXCHANGES</h2>
                </div>
                <div class="other_exchange_content fx-dc">
                    <!-- <div class="other_exchange_content_child1 fx-dr fx-wrap ">
                        <div class="child1_left w25">
                            <img src="../../../assets/images/dinefinex logo.png" alt="dignifies logo" width="100%">
                        </div>
                        <div class="child1_right fx-r-spbtwn fx-wrap w72">
                            <div class="child1_right_text fx-dc">
                                <p class="text-a-c">BANK GRADE SECURITY</p>
                                <p class="text-a-c">TOP 10 CENTRALIZED EXCHANGE</p>
                            </div>
                            <div class="child1_right_list fx-c-start">
                                <div class="list_item fx-r-center">
                                    <i class="fa-solid fa-check check-icon"></i>
                                    <p class="text-white font-15 fw-300 content-font">Secure & reliable top exchange</p>
                                </div>
                                <div class="list_item fx-r-center">
                                    <i class="fa-solid fa-check check-icon"></i>
                                    <p class="text-white font-15 fw-300 content-font">Easy Registration</p>
                                </div>
                                <div class="list_item fx-r-center">
                                    <i class="fa-solid fa-check check-icon"></i>
                                    <p class="text-white font-15 fw-300 content-font">Stake and earn</p>
                                </div>
                            </div>
                            <div class="child1_right_button fx-r-end w21">
                                <a href="https://www.digifinex.com/en-ww/trade/USDT/ETHAX" target="_blank"><button>BUY
                                        NOW</button></a>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="other_exchange_content_child1 child2 fx-dr fx-wrap ">
                        <div class="child1_left fx-dr w28">
                            <img src="../../../assets/images/coinstore logo.png" alt="dignifies logo" width="20%">
                            <img src="../../../assets/images/coinstore.png" alt="dignifies logo" width="70%" class="coinstore-logo">
                        </div>
                        <div class="child1_right fx-r-spbtwn fx-wrap w70">
                            <div class="child1_right_text fx-dc">
                                <p class="text-a-c">A GLOBAL</p>
                                <p class="text-a-c">CRYPTOCURRENCY EXCHANGE</p>
                            </div>
                            <div class="child1_right_list fx-c-start w23">
                                <div class="list_item fx-r-center">
                                    <i class="fa-solid fa-check check-icon"></i>
                                    <p class="text-white font-15 fw-300 content-font">Low trading fees</p>
                                </div>
                                <div class="list_item fx-r-center">
                                    <i class="fa-solid fa-check check-icon"></i>
                                    <p class="text-white font-15 fw-300 content-font">Easy to use</p>
                                </div>
                                <div class="list_item fx-r-center">
                                    <i class="fa-solid fa-check check-icon"></i>
                                    <p class="text-white font-15 fw-300 content-font">Low withdrawal fees</p>
                                </div>
                            </div>
                            <div class="child1_right_button fx-r-end w22">
                                <a href="https://pancakeswap.finance/swap?outputCurrency=0x854f7cd3677737241e3eed0dc3d7f33dfaf72bc4"
                                    target="_blank"><button>BUY NOW</button></a>
                            </div>
                        </div>
                    </div> -->

                    <div class="other_exchange_content_child1 fx-dr fx-wrap ">
                        <div class="child1_left fx-dr child3 w25">
                            <img src="../../../assets/images/pancake logo.png" alt="pancake logo" width="100%">
                        </div>
                        <div class="child1_right fx-r-spbtwn fx-wrap w72">
                            <div class="child1_right_text fx-dc">
                                <p class="text-a-c">LEADING DECENTRALIZED</p>
                                <p class="text-a-c">EXCHANGE</p>
                            </div>
                            <div class="child1_right_list fx-c-start ">
                                <div class="list_item fx-r-center">
                                    <i class="fa-solid fa-check check-icon"></i>
                                    <p class="text-white font-15 fw-300 content-font">No checks</p>
                                </div>
                                <div class="list_item fx-r-center">
                                    <i class="fa-solid fa-check check-icon"></i>
                                    <p class="text-white font-15 fw-300 content-font">Trade against a liquidity pool</p>
                                </div>
                                <div class="list_item fx-r-center">
                                    <i class="fa-solid fa-check check-icon"></i>
                                    <p class="text-white font-15 fw-300 content-font">Farm & stake token</p>
                                </div>
                            </div>
                            <div class="child1_right_button fx-dr">
                                <a href="https://pancakeswap.finance/swap?outputCurrency=0x854f7cd3677737241e3eed0dc3d7f33dfaf72bc4"
                                    target="_blank"><button>BUY NOW</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="changes_text text-a-c w100">
                    <p class="text-white font-12 content-font">INVESTMENTS CAN GO DOWN AS WELL AS UP.</p>
                </div>
            </div>
        </div>

        <!-- <div class="changes_main fx-c-center">
            <div class="changes_body fx-c-center w90">
                <h2 class="font-26 text-white">OTHER EXCHANGES</h2>
                <div class="changes_imgs fx-c-center">
                    <a href="https://www.digifinex.com/en-ww/trade/USDT/ETHAX" target="_blank"><img
                            src="../../../assets/images/Unknown-2.png.webp" alt="" width="100%" class="cursor"></a>
                    <a href="https://pancakeswap.finance/swap?outputCurrency=0x854f7cd3677737241e3eed0dc3d7f33dfaf72bc4"
                        target="_blank"><img src="../../../assets/images/Unknown-5.png.webp" alt="" width="100%"
                            class="cursor"></a>
                </div>
                <div class="changes_mobile_imgs fx-c-center">
                    <a href="https://www.digifinex.com/en-ww/trade/USDT/ETHAX" target="_blank"><img
                        src="../../../assets/images/buy-mobile1.webp" alt="" width="100%" class="cursor"></a>
                    <a href="https://pancakeswap.finance/swap?outputCurrency=0x854f7cd3677737241e3eed0dc3d7f33dfaf72bc4"
                    target="_blank"><img src="../../../assets/images/buy-mobile3.webp" alt="" width="100%"
                        class="cursor"></a>
                </div>
                <div class="changes_text">
                    <p class="text-white font-12 content-font">INVESTMENTS CAN GO DOWN AS WELL AS UP.</p>
                </div>
            </div>
        </div> -->
    </div>
</div>