<div class="about">
    <div class="about_main">
        <div class="about_body ">
            <div class="about_body_header">
                <div class="about_body_header_list fx-dr ">
                    <p class="font-11 content-font text-white cursor" routerLink="/home"> HOME </p>
                    <p class="font-11 content-font text-grey"> > </p>
                    <p class="font-11 content-font text-white cursor" routerLink="/about-us"> ABOUT </p>
                </div>
                <div>
                    <h1 class="font-40 text-white cursor" routerLink="/about-us">ABOUT ETHAX</h1>
                </div>
            </div>
            <div class="about_body_content fx-r-center">
                <div class="icons w18 cursor" routerLink="/services/ethax-token">
                    <img src="../../../assets/images/about-us/crypto-currency.png" alt="" width="100%">
                    <div class="content bg-black br-20">
                        <h1 class="font-20 text-blue text-a-c">ETHAX TOKEN</h1>
                        <p class="font-14 content-font text-a-j text-white">Available on Exchanges and Decentralised Exchanges the ETHAX Token is a utility token forged through super-smart tokenomics and generated for a long-tail business model.</p>
                        <a type="button" class="bg-blue text-black font-14 text-a-c tx-dec-n">LEARN MORE</a>
                    </div>
                </div>
                <div class="icons w18 cursor" routerLink="/services/ethax-trader">
                    <img src="../../../assets/images/about-us/ai-trading-software.png" alt="" width="100%">
                    <div class="content bg-black br-20">
                        <h1 class="font-20 text-blue text-a-c">ETHAX TRADING</h1>
                        <p class="font-14 content-font text-a-j text-white">The ETHAX Trading Platform, available on desktop and mobile, is a leading-edge, technically advanced trading platform using artificial intelligence and machine learning integrated software competencies to provide ETHAX customers with world-class, secure, engaging and efficient trading.</p>
                        <a type="button" class="bg-blue text-black font-14 text-a-c tx-dec-n">LEARN MORE</a>
                    </div>
                </div>
                <!-- <div class="icons w18 cursor">
                    <img src="../../../assets/images/about-us/universal-marketplace.png" alt="" width="100%">
                    <div class="content bg-black br-20">
                        <h1 class="font-20 text-blue text-a-c">ETHAX NFT</h1>
                        <p class="font-14 content-font text-a-j text-white">The ETHAX universal marketplace will enhance NFT trading throughout the virtual asset sector. Development is set to conclude in Q4 2022 and current UIs are highly confidential.</p>
                        <a type="button" class="bg-blue text-black font-14 text-a-c tx-dec-n">LEARN MORE</a>
                    </div>
                </div> -->
                <div class="icons w18 cursor" routerLink="/services/ethax-dex">
                    <img src="../../../assets/images/about-us/decentralised-exchange.png" alt="" width="100%">
                    <div class="content bg-black br-20">
                        <h1 class="font-20 text-blue text-a-c">ETHAXSWAP DEX</h1>
                        <p class="font-14 content-font text-a-j text-white">ETHAXSWAP Exchange is a non-custodial, Decentralised Exchange (DEX). This service will allow all users to buy, sell, or swap ETHAX Tokens or any other major crypto currencies at the lowest possible market fees.</p>
                        <a type="button" class="bg-blue text-black font-14 text-a-c tx-dec-n">LEARN MORE</a>
                    </div>
                </div>
                <!-- <div class="icons w18 cursor">
                    <img src="../../../assets/images/about-us/secure-crypto-wallet.png" alt="" width="100%">
                    <div class="content bg-black br-20">
                        <h1 class="font-20 text-blue text-a-c">ETHAX WALLET</h1>
                        <p class="font-14 content-font text-a-j text-white">The ETHAX Wallet is an important part of ETHAX’s suite of products; tailored and integrated to unify your virtual assets secure and fully accessible.</p>
                        <a type="button" class="bg-blue text-black font-14 text-a-c tx-dec-n">LEARN MORE</a>
                    </div>
                </div> -->
            </div>
    
    
        </div>
    </div>
  
  <div class="about_body_crypto fx-dc bg-black">
        <div class="about_crypto_first fx-r-spbtwn fx-wrap">
            <div class="about_body_crypto_left w40">
                <img src="../../../assets/images/about-us/cypto-redefined.jpeg" alt="" width="100%">
            </div>
            <div class="about_body_crypto_right w55">
                    <h2 class="text-white font-30">CRYPTO REDEFINED</h2>
                    <p class="text-white content-font font-20 fw-300">The seeds of ETHAX’s history in digital assets began in 2015 when the founders first started to develop successful trading processes and business strategies in cryptocurrencies.</p>
                    <p class="text-white content-font font-20 fw-300">The growth in the sector presented unprecedented opportunities and a reason to scale their success into a UK based FIAT to crypto currency investment fund business.</p>
            </div>
        </div>
        <div class="about_crypto_first fx-r-spbtwn fx-wrap">
            <div class="about_body_crypto_left w40">
                <img src="../../../assets/images/about-us/digital-currency-investment.jpg" alt="" width="100%">
            </div>
            <div class="about_body_crypto_right fx-c-center w55">
                    <h2 class="text-white font-30">DIGITAL CURRENCY INVESTMENT</h2>
                    <p class="text-white content-font font-20 fw-300">The sector continued to flourish, and following significant trading successes the business expanded into Europe creating a digital currency investment business.</p>
            </div>
        </div>
        <div class="about_crypto_first fx-r-spbtwn fx-wrap">
            <div class="about_body_crypto_left w40">
                <img src="../../../assets/images/about-us/ethax-brand.jpg" alt="" width="100%">
            </div>
            <div class="about_body_crypto_right fx-dc w55">
                    <h2 class="text-white font-30">THE ETHAX BRAND WAS BORN</h2>
                    <p class="text-white content-font font-20 fw-300">By the beginning of 2021, the market value of all the world’s cryptocurrencies surpassed $1.9 trillion. Crypto was now the world’s fifth most circulated currency by value. The ETHAX founders were now managing a multi million dollar portfolio. The phenomenal growth in the sector coupled with unbridled visions of global expansion led the founders to develop the business in both technology and marketing to deliver a worldleading, cutting edge suite of crypto-focused products seamlessly integrating all facets of any traders armoury under one umbrella.</p>
                    <p class="text-white content-font font-20 fw-300">The ETHAX brand was born with the clear vision to lead digital asset investment through a joined-up approach, simplified processes, a greater market reach, and a scalable, flexible, global business.</p>
                    <!-- <p class="text-white content-font font-20 fw-300">ETHAX manages a multi-million dollar digital asset staking pool and enjoys multiple revenue streams.</p> -->
            </div>
        </div>
        <div class="about_crypto_first fx-r-spbtwn fx-wrap">
            <div class="about_body_crypto_left w40">
                <img src="../../../assets/images/about-us/leading-edge-range.png" alt="" width="100%">
            </div>
            <div class="about_body_crypto_right fx-dc w55">
                    <h2 class="text-white font-30">LEADING-EDGE RANGE OF DIGITAL ASSETS</h2>
                    <p class="text-white content-font font-20 fw-300">The ETHAX team invest in a range of digital assets and therefore fully understand the needs and requirements of traders at every level.</p>
                    <p class="text-white content-font font-20 fw-300">The ETHAX product portfolio includes the ETHAX TOKEN – a utility token trading on PROBIT, Pancakeswap and other platforms; ETHAX TRADER – a machine learning, AI led trading platform.</p>
            </div>
        </div>
    </div>

   <div class="about_us_parallax">
        <div class="about_us_parallax_overlay">
            <div class="parallax_list fx-r-spbtwn">
                <div class="parallax_list_left fx-dc w45">
                    <!-- <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">Digital Asset Services;</p>
                        </div>
                       
                    </div> -->
                    <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">A Secure Digital Asset Machine Learning Trading Platform;</p>
                        </div>
                       
                    </div>
                    <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">World-leading technological developments;</p>
                        </div>
                       
                    </div>
                    <!-- <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">Enhanced virtual asset ETHAX mobile wallet;</p>
                        </div>
                       
                    </div> -->
                    <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">ETHAXswap (DEX) Custodial Decentralised Exchange;</p>
                        </div>
                       
                    </div>
                    <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">Neural machine learning advancements;</p>
                        </div>
                       
                    </div>
                    <!-- <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">ETHAX NFT universal marketplace;</p>
                        </div>
                       
                    </div> -->
                     
                </div>
                <div class="parallax_list_left fx-dc w45">
                   
                    <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">Smart user-interfaces;</p>
                        </div>
                       
                    </div>
                    <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">Execution of world-class marketing strategies;</p>
                        </div>
                       
                    </div>
                    <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">The ETHAX Token launch on PROBIT and other exchanges;</p>
                        </div>
                       
                    </div>
                    <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">Mobile Apps;</p>
                        </div>
                       
                    </div>
                    <!-- <div class="list fx-dr">
                        <div class="check bg-white fx-r-center ">
                            <i class="fa-solid fa-check text-black"></i>
                        </div>
                        <div class="fx-r-center">
                            <p class="font-16 content-font text-white fw-400">ETHAX Token staking rewards.</p>
                        </div>
                       
                    </div> -->
                     
                </div>
            </div>
            <div class="parallax_content">
                    <h1 class="text-a-c text-white fw-300 font-32">SUPER-POWERED TECHNOLOGY • SUPER-POWERED DISCOVERY</h1>
                    <hr>
                    <h1 class="text-a-c text-white fw-300 font-32">VIRTUALLY THE SMARTEST CRYPTO COMPANY IN THE WORLD</h1>
                    <hr>
            </div>
            <div class="parallax_pages fx-r-spbtwn">
                <div class="parallax_pages_left fx-dr cursor">
                    <i class="fa-solid fa-chevron-left text-white font-32" routerLink="/home"></i>
                    <h2 class="text-white font-32 fw-200" routerLink="/home" >HOME</h2>
                </div>
                <div class="parallax_pages_left fx-dr cursor">
                    <h2 class="text-white font-32 fw-200" routerLink="/about-us/products">PRODUCTS</h2>
                    <i class="fa-solid fa-chevron-right text-white font-32" routerLink="/about-us/products"></i>
                </div>
             
            </div>
        </div>
    </div>
</div>