<div class="trader_main fx-c-center">
    <div class="trader_body fx-c-center w100 ">
        <div class="trader_header fx-c-start w90">
            <div class="trader_header_child1 fx-r-start ">
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/home">HOME</a>
                <i class="fa-solid fa-chevron-right font-11"></i>
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/services/ethax-token">SERVICES</a>
                <i class="fa-solid fa-chevron-right font-11"></i>
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/services/ethax-trader">ETHAX
                    TRADER</a>
            </div>
            <div class="trader_header_child2">
                <h1 class="text-white font-40 fw-500">ETHAX TRADER</h1>
            </div>
        </div>
        <img src="../../../../assets/images/resposive-token.png" alt="mobile-resposive-token-image" class="mobile_img"
            width="85%">
        <div class="main_content w90">
            <div class="fx-dr about">
                <div class="verticle-line"></div>
                <div class="main_content_text fx-dc">
                    <h2 class="text font-32 w100 text-white fw-400">LEVERAGING THE POWER
                        OF AI, MACHINE LEARNING, AND SKILLED HUMAN MODERATORS IS AN IDEAL SOLUTION FOR 24/7/365 CRYPTO
                        TRADING.
                    </h2>
                    <p class="text-white content-font font-18">ETHAX TRADER is the world’s first Non-custodial, Machine
                        Learning,Crypto
                        Trading Platform.This software allows ETHAX clients to trade safely, efficiently
                        and potentially improve on their digital asset portfolio returns.
                    </p>
                    <p class="text-white content-font font-18">
                        The ETHAX Trading Platform combining several
                        years of successful trading in digital assets morphed with the latest in machine learning, AI
                        software.
                    </p>
                    <p class="text-white content-font font-18">
                        As the world’s first business to build a non-custodial machine learning crypto trading
                        platform, ETHAX safety the priority. All ETHAX clients’ assets are of paramount importance
                        and adhere to strict criteria together
                        with robust internal procedures. Being a non-custodial platform all assets always remain in your
                        custody.
                    </p>
                    <p class="text-white content-font font-18">
                        The ETHAX Machine Learning Trading Platform is designed to be fully transparent, making use of
                        proprietary trading algorithms, that allows traders to make informed decisions in light of both
                        stable and volatile crypto currency markets.
                    </p>
                    <p class="text-white content-font font-18">
                        ETHAX Trader provides automated, semi-automated and manual trading options in addition to
                        providing conventional optimised tools such as trailing buys, sells, stop losses, plus dynamic
                        profit taking. The Platform’s unique design enables users to automate their cryptocurrency
                        trading strategy using a library of bespoke algorithms.
                    </p>
                    <p class="text-white content-font font-18">
                        The Machine Learning Trading Platform provides unparalleled access to historical market data,
                        thereby allowing investors to perform comprehensive back-testing of their trading strategies.
                        This is an essential tool for advanced traders. Machine Learning also allows users to monitor
                        market news sources through a single interface and receive real-time alerts about critical
                        market events.
                    </p>
                </div>
            </div>
        </div>

        <div class="trader_section2 fx-r-center ">
            <div class="trader_section2_body fx-r-spbtwn fx-wrap w90">
                <div class="trader_section2_left w40">
                    <div class="section2_left_image">
                        <img src="../../../../assets/images/service-trader-image.webp" alt="revenue-image" width="90%"
                            class="br-20 ">
                    </div>
                </div>
                <div class="trader_section2_right w60">
                    <div class="section2_text fx-dc">
                        <p class="text-white content-font font-20 fw-300">
                            The ETHAX Machine Learning Trading Platform allows for manual trading where the UI will
                            provide
                            the user with an instant view of available buy and sell orders, while the manual trading
                            tool
                            provides a complete view of market depth. Facets also include built in advanced risk
                            management
                            tools such as conditional Trailing Stops and conditional partial sell orders and is
                            supported by
                            real time market slippages.
                        </p>
                        <p class="text-white content-font font-20 fw-300">
                            ETHAX is about the consumer experience. As cryptocurrency expands and its user base grows
                            there is a requirement and need for a user-centric business, that is both transparent and
                            trustworthy.
                        </p>
                        <div class="section2_text_btn w35">
                            <a type="button" class="fx-r-center text-black bg-blue cursor"
                            routerLink="/shared/buy-ethax">BUY ETHAX <i class="fa-solid fa-arrow-right arrow text-black"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section3_main fx-c-center ">
    <div class="section3_body fx-c-center w100 ht-60">
        <div class="section3_text1 fx-r-center w90">
            <h1 class="text-white font-29">SUPER-POWERED <strong>TECHNOLOGY</strong> • SUPER-POWERED
                <strong>TRADING</strong>
            </h1>
        </div>
        <hr>
        <div class="section3_text2 fx-r-center w90">
            <h1 class="text-white font-29"> VIRTUALLY THE SMARTEST CRYPTO COMPANY <strong>IN THE WORLD</strong> </h1>
        </div>
        <hr>
    </div>
</div>
<div class="section4_main fx-c-center">
    <div class="section4_body fx-c-center w100">
        <div class="main_card fx-r-center w100">
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../../assets/images/section4-card4.webp" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-11 text-white text-a-c">STAKING</h1>
                    <!-- <P class="font-14 content-font text-white cursor">LEARN MORE <i class="fa-solid fa-arrow-right"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../../assets/images/section4-card2.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-11 text-white text-a-c">INVESTMENT FUND</h1>
                    <!-- <P class="font-14 content-font text-white cursor">LEARN MORE <i class="fa-solid fa-arrow-right"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../../assets/images/section4-card3.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-11 text-white text-a-c">RISK MANAGEMENT</h1>
                    <!-- <P class="font-14 content-font text-white cursor">LEARN MORE <i class="fa-solid fa-arrow-right"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../../assets/images/fund-management.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-11 text-white text-a-c">FUND MANAGEMENT</h1>
                    <!-- <P class="font-14 content-font text-white cursor">LEARN MORE <i class="fa-solid fa-arrow-right"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../../assets/images/section4-card5.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start">
                    <h1 class="font-11 text-white text-a-c">TRADING</h1>
                    <!-- <P class="font-14 content-font text-white cursor">LEARN MORE <i class="fa-solid fa-arrow-right"></i></P> -->
                </div>
            </div>
        </div>

        <div class="section4_images  fx-r-center fx-wrap">
            <a class="w15" routerLink="/services/ethax-token"><img src="../../../../assets/images/token-black.webp"
                    alt="trader" width="100%" class="cursor"></a>
            <a class="w15" routerLink="/services/ethax-trader"><img src="../../../../assets/images/trader-black.webp"
                    alt="token" width="100%" class="cursor"></a>
            <a class="w15" routerLink="/services/ethax-dex"><img src="../../../../assets/images/swap-black.webp"
                    alt="swap" width="100%" class="cursor"></a>
            <a class="w15"><img src="../../../../assets/images/nft-black.webp" alt="nft" width="100%"></a>
            <a class="w15"><img src="../../../../assets/images/wallet-black.webp" alt="wallet" width="100%"></a>
        </div>

        <div class="parallax_pages fx-r-spbtwn w90">
            <div class="parallax_pages_left fx-dr">
                <i class="fa-solid fa-chevron-left text-white font-32"></i>
                <h2 class="text-white font-32 fw-200 cursor" routerLink="/services/ethax-token">SERVICES</h2>
            </div>
            <div class="parallax_pages_left fx-dr">
                <h2 class="text-white font-32 fw-200 cursor" routerLink="/services/ethax-dex">ETHAXSWAP DEX</h2>
                <i class="fa-solid fa-chevron-right text-white font-32"></i>
            </div>

        </div>
    </div>
</div>