<div class="footer fx-c-center  bg-black">
    <div class="footer_body fx-c-center w90">
        <div class="footer_child1 fx-r-start fx-wrap w100">
            <div class="section1 fx-dc w25 text-white content-font">
                <a class="font-17 fw-700 text-white" routerLink="/about-us">ABOUT</a>
                <div class="fx-dc section1_gap">
                    <a class="section1_item font-17 fw-300 text-white" routerLink="/about-us/discover-ethax">DISCOVER ETHAX</a>
                    <a class="font-17 fw-300 text-white" routerLink="/about-us/products">PRODUCT</a>
                    <!-- <P class="font-17 fw-300 ">LEADERSHIP</P> -->
                    <a class="font-17 fw-300 text-white" routerLink="/about-us/faq">FAQ'S</a>
                    <a class="font-17 fw-300 text-white" routerLink="/about-us/contact">CONTACT</a>
                </div>
               
            </div>
            <div class="section1 fx-dc w25 text-white content-font">
                <a class="font-17 fw-700 text-white" routerLink="/services/ethax-token">SERVICES</a>
                <div class="fx-dc section1_gap">
                    <a class="font-17 fw-300 text-white" routerLink="/services/ethax-token">ETHAX TOKEN</a>
                    <a class="font-17 fw-300 text-white" routerLink="/services/ethax-trader">ETHAX TRADER</a>
                    <!-- <P class="font-17 fw-300 ">ETHAX NFT</P> -->
                    <a class="font-17 fw-300 text-white" routerLink="/services/ethax-dex">ETHAXSWAP DEX</a>
                    <!-- <P class="font-17 fw-300 ">ETHAX WALLET</P>
                    <P class="font-17 fw-300 ">STAKING</P>
                    <P class="font-17 fw-300 ">INVESTMENT FUND</P>
                    <P class="font-17 fw-300 ">RISK MANAGEMENT</P>
                    <P class="font-17 fw-300 ">TRADING</P> -->
                </div>
              
            </div>
            <!-- <div class="section1 fx-dc w20 text-white content-font">
                <P class="font-17 fw-700">MARKETING</P>
                <P class="font-17 fw-300 ">VIDEOS</P>
                <P class="font-17 fw-300 ">SOCIAL MEDIA</P>
                <P class="font-17 fw-300 ">NEWSLETTERS</P>
            </div> -->
            <div class="section1 fx-dc w25 text-white content-font">
                <!-- <P class="font-17 fw-700">WIN</P>
                <P class="font-17 fw-300 ">LIVE COMPETITION</P> -->
                <a class="dashboard font-17 fw-700 text-white" href="https://ethax.solutions/dashboard/login.php" target="_blank">PRIVATE DASHBOARD</a>
            </div>
            <div class="section1 fx-dc w25 text-white content-font">
                <a class="font-17 fw-700 text-white">CONTACT</a>
                <a class="text-blue" href="mailto:info@ethax.com">INFO@ETHAX.COM</a>
                <a class="text-blue" href="mailto:support@ethax.com">SUPPORT@ETHAX.COM</a>
            </div>
        </div>

        <div class="footer_child2 fx-r-spbtwn pad-tb-sec">
            <div class="footer_child2_text fx-dr flex-wrap">
                <a class="text-white content-font font-14" routerLink="/shared/terms-conditions">TERMS & CONDITIONS | </a>
                <a class="text-white content-font font-14" routerLink="/shared/privacy-policy">PRIVACY & COOKIES | </a>
                <a class="text-white content-font font-14" href="../../../assets/images/pdf/white-paper.pdf" target="_blank">WHITE PAPER |</a>
                <a class="text-white content-font font-14" href="../../../assets/images/pdf/ETHAX Comprehensive Smart Contract Audit SOKEN.pdf" target="_blank">@AUDIT</a>
            </div>
            <div class="footer_logo w20">
                <img src="../../../assets/images/logo.webp" alt="logo" width="100%" routerLink="/home">
            </div>
        </div>
      
    </div>
</div>


