<div class="about">
    <div class="about_main">
        <div class="about_body ">
            <div class="about_body_header">
                <div class="about_body_header_list fx-dr ">
                    <a class="font-11 content-font text-white cursor" routerLink="/home"> HOME </a>
                    <p class="font-11 content-font text-grey"> > </p>
                    <a class="font-11 content-font text-white cursor" routerLink="/about-us"> ABOUT </a>
                    <p class="font-11 content-font text-grey"> > </p>
                    <a class="font-11 content-font text-white cursor" routerLink="/about-us/products"> PRODUCTS </a>
                </div>
                <div>
                    <h1 class="font-40 text-white cursor" routerLink="/about-us/products">PRODUCTS</h1>
                </div>
            </div>
         
        </div>
    </div>

    <div class="about_body_crypto fx-dc bg-black">
        <div class="about_crypto_first fx-r-spbtwn fx-wrap">
            <div class="about_body_crypto_left w40">
                <a routerLink="/services/ethax-token"><img src="../../../../assets/images/about-us/products/ethax-token.webp" alt="" width="90%"
                    class="cursor"></a>
            </div>
            <div class="about_body_crypto_right fx-c w55">
                    <h2 class="text-white font-30">ETHAX TOKEN</h2>
                    <p class="text-white content-font font-20 fw-300">Available on Exchanges and Decentralised Exchanges the ETHAX Token is a utility token forged through super-smart tokenomics and generated for a long-tail business model.</p>
                    <a type="button" class="bg-blue text-black w26 font-14 text-a-c cursor" 
                    routerLink="/services/ethax-token cursor">LEARN MORE</a>
            </div>
        </div>
        <div class="about_crypto_first fx-r-spbtwn fx-wrap">
            <div class="about_body_crypto_left w40">
                <a routerLink="/services/ethax-trader"><img src="../../../../assets/images/about-us/products/ethax-trader.webp" alt="" width="90%"
                    class="cursor" ></a>
            </div>
            <div class="about_body_crypto_right fx-c w55">
                    <h2 class="text-white font-30">ETHAX TRADER</h2>
                    <p class="text-white content-font font-20 fw-300">The ETHAX Trading Platform, available on desktop and mobile, is a leading-edge, technically advanced trading platform using artificial intelligence and machine learning integrated software competencies to provide ETHAX customers with world-class, secure, engaging and efficient trading.</p>
                    <a type="button" class="bg-blue text-black w26 font-14 text-a-c cursor"
                     routerLink="/services/ethax-trader cursor">LEARN MORE</a>
            </div>
        </div>
        <div class="about_crypto_first fx-r-spbtwn fx-wrap">
            <div class="about_body_crypto_left w40">
                <a routerLink="/services/ethax-dex"><img src="../../../../assets/images/about-us/products/ethax-swap.webp" alt="" width="90%"
                    class="cursor"></a>
            </div>
            <div class="about_body_crypto_right fx-c w55">
                    <h2 class="text-white font-30">ETHAXSWAP DEX</h2>
                    <p class="text-white content-font font-20 fw-300">ETHAXSWAP Exchange is a non-custodial, Decentralised Exchange (DEX). This service will allow all users to buy, sell, or swap ETHAX Tokens or any other major crypto currencies at the lowest possible market fees.</p>
                    <a type="button" class="bg-blue text-black w26 font-14 text-a-c cursor"
                    routerLink="/services/ethax-dex cursor">LEARN MORE</a>
            </div>
        </div>
        <div class="about_crypto_first fx-r-spbtwn fx-wrap">
            <div class="about_body_crypto_left w40">
                <a><img src="../../../../assets/images/about-us/products/ethax-nft.webp" alt="" width="90%"></a>
            </div>
            <div class="about_body_crypto_right fx-c w55">
                    <h2 class="text-white font-30">ETHAX NFT</h2>
                    <p class="text-white content-font font-20 fw-300">The ETHAX universal marketplace will enhance NFT trading throughout the virtual asset sector. Development is set to conclude in Q4 2022 and current UIs are highly confidential.</p>
                    <a type="button" class="bg-blue text-black w26 font-14 text-a-c cursor">LEARN MORE</a>
            </div>
        </div>
        <div class="about_crypto_first fx-r-spbtwn fx-wrap">
            <div class="about_body_crypto_left w40">
                <a><img src="../../../../assets/images/about-us/products/ethax-wallet.webp" alt="" width="90%"></a>
            </div>
            <div class="about_body_crypto_right fx-c w55">
                    <h2 class="text-white font-30">ETHAX WALLET</h2>
                    <p class="text-white content-font font-20 fw-300">The ETHAX Wallet is an important part of ETHAX’s suite of products; tailored and integrated to unify your virtual assets secure and fully accessible.</p>
                    <a type="button" class="bg-blue text-black w26 font-14 text-a-c cursor">LEARN MORE</a>
            </div>
        </div>
    </div>
    
    <div class="about_us_parallax">
        <div class="about_us_parallax_overlay">
            <div class="parallax_content">
                    <h1 class="text-a-c text-white fw-300 font-32">SUPER-POWERED TECHNOLOGY • SUPER-POWERED DISCOVERY</h1>
                    <hr>
                    <h1 class="text-a-c text-white fw-300 font-32">VIRTUALLY THE SMARTEST CRYPTO COMPANY IN THE WORLD</h1>
                    <hr>
            </div>
            <div class="parallax_pages fx-r-spbtwn">
                <div class="parallax_pages_left fx-dr">
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                    <i class="fa-solid fa-chevron-left text-white font-32"></i>
                    <h2 class="text-white font-32 fw-200 cursor" routerLink="/about-us/discover-ethax">DISCOVER ETHAX</h2>
                </div>
                <div class="parallax_pages_left fx-dr">
                    <h2 class="text-white font-32 fw-200 cursor" routerLink="/about-us/faq">FAQ'S</h2>
                    <i class="fa-solid fa-chevron-right text-white font-32"></i>
                </div>
             
            </div>
        </div>
    </div>

</div>

