<div class="header fx-c-center pad-tb-20-sec w-100">
    <div class="header_body fx-dc pad-rl-sec w-100">
        <div class="header_body_child1 fx-r-end ">
        
            <div class="icons fx-dr">
                <a href="https://t.me/ETHAXCRYPTOOFFICIALCHAT" target="_blank"><i class="fab fa-telegram font-20 text-white"></i></a>
                <a href="https://twitter.com/EthaxCrypto" target="_blank"><i class="fab fa-x-twitter font-20 text-white"></i></a>
                <a href="https://www.youtube.com/channel/UCDTxZjA0x7PS1LxXC4S7XgA" target="_blank"><i class="fab fa-youtube font-20 text-white"></i></a>
                <a href="https://www.instagram.com/ethaxtrader/?next=%2Fethaxcrypto%2F" target="_blank"><i class="fab fa-instagram font-20 text-white"></i></a>
                <a href="https://www.tiktok.com/@ethaxtrader" target="_blank"><i class="fab fa-tiktok font-20 text-white"></i></a>
            </div>
        </div>
        <div class="header_body_child2 fx-r-center">
            <div class="logo cursor w20">
                <img src="../../../assets/images/logo.webp" alt="logo" width="85%" routerLink="/home">
            </div>
            <div class="menus fx-r-center fx-wrap w35">
                <div class="menu_item">
                    <a class="menu_item_child fx-dr text-white font-12" routerLink="/home">HOME</a>
                </div>
                <div class="menu_item">
                    <a class="menu_item_child fx-dr text-white font-12" routerLink="/about-us">About<i
                            class="fa-solid fa-chevron-down"></i></a>
                    <div class="sub_menu bg-black text-white">
                        <a class="font-12 text-white cursor" routerLink="/about-us/discover-ethax">DISCOVER ETHAX</a>
                        <a class="font-12 text-white cursor" routerLink="/about-us/products">PRODUCTS</a>
                        <a class="font-12 text-white cursor" routerLink="/about-us/faq">FAQ'S</a>
                        <a class="font-12 text-white cursor" routerLink="/about-us/contact">CONTACT</a>
                    </div>
                </div>
                <div class="menu_item">
                    <a class="menu_item_child fx-dr text-white font-12" routerLink="/services/ethax-token">SERVICES<i
                            class="fa-solid fa-chevron-down"></i></a>
                    <div class="sub_menu bg-black text-white">
                        <a class="font-12 text-white" routerLink="/services/ethax-token">ETHAX TOKEN</a>
                        <a class="font-12 text-white" routerLink="/services/ethax-trader">ETHAX TRADER</a>
                        <a class="font-12 text-white" routerLink="/services/ethax-dex">ETHAXSWAP DEX</a>
                    </div>
                </div>
            </div>
            <div class="main_buttons fx-r-end w40">
                <div class="one">
                    <a href="https://app.ethax.com/" target="_blank"><button class="fx-r-center first bg-blue font-13 text-black fw-700 br-10">ETHAX TRADER <i class="fa-solid fa-chevron-right"></i></button></a>
                </div>
                <div class="one">
                    <button class="fx-r-center second bg-purple text-white font-13 fw-700 br-10 cursor"
                        routerLink="/shared/buy-ethax">BUY ETHAX <i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mobile-header" >
    <div class="mobile-header-sec" >
        <img src="../../../assets/images/logo.webp" alt="logo" width="20%" routerLink="/home">
    </div>
    <div class="main_buttons fx-r-end w40">
        <div class="one">
            <a href="https://app.ethax.com/" target="_blank"><button class="fx-r-center first bg-blue font-13 text-black fw-700 br-10">ETHAX TRADER <i class="fa-solid fa-chevron-right"></i></button></a>
        </div>
        <div class="one">
            <button class="fx-r-center second bg-purple text-white font-13 fw-700 br-10 cursor"
                routerLink="/shared/buy-ethax">BUY ETHAX <i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
    <div class="menu_sec" (click)="toggle.emit()">
        <i class="fa-solid fa-bars font-16"></i>
    </div>
</div>
