<div class="dex_main fx-c-center">
    <div class="dex_body fx-c-center w100 ">
        <div class="dex_header fx-c-start w90">
            <div class="dex_header_child1 fx-r-start ">
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/home">HOME</a>
                <i class="fa-solid fa-chevron-right font-11"></i>
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/services/ethax-token">SERVICES</a>
                <i class="fa-solid fa-chevron-right font-11"></i>
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/services/ethax-dex">ETHAXSWAP DEX</a>
            </div>
            <div class="dex_header_child2">
                <h1 class="text-white font-40 fw-500">ETHAXSWAP DEX</h1>
            </div>
        </div>
        <img src="../../../../assets/images/resposive-token.png" alt="mobile-resposive-token-image" class="mobile_img"
            width="85%">
        <p class="resposive_text text-white">ETHAX.io</p>
        <!-- <div class="dex_images fx-dc w90">
            <div class="dex_images_child1 fx-r-center">
                <a class="w20" routerLink="/services/ethax-trader"><img
                        src="../../../../assets/images/trader-black.webp" alt="trader-image" width="100%"></a>
                <a class="w20" routerLink="/services/ehtax-token"><img src="../../../../assets/images/token-black.webp"
                        alt="token-image" width="100%"></a>
                <a class="w20" routerLink="/services/ethax-dex"><img src="../../../../assets/images/swap-black.webp"
                        alt="swap-image" width="100%"></a>
                <a class="w20"><img src="../../../../assets/images/nft-black.webp" alt="nft-image" width="100%"></a>
                <a class="w20"><img src="../../../../assets/images/wallet-black.webp" alt="wallet-image" width="100%"></a>
            </div>
            <div class="dex_images_child2 fx-r-center  w100">
                <a href="" class="text-white">ETHAX.io</a>
            </div>
        </div> -->

        <div class="dex_section2 fx-c-center">
            <div class="dex_section2_body fx-dc fx-wrap w90">
                <div class="dex_section2_child1 fx-r-spbtwn">
                    <div class="dex_section2_left w40">
                        <div class="section2_left_image">
                            <img src="../../../../assets/images/dex-Swap-1.png" alt="revenue-image" width="90%" class="br-20 ">
                        </div>
                    </div>
                    <div class="dex_section2_right w60">
                        <div class="section2_text fx-dc">
                            <p class="text-white content-font font-20 fw-300">
                                The ETHAX Decentralised Exchange is a non-custodial exchange built by ETHAX to further enhance
                                the
                                ETHAX brand across all aspects of crypto. This service will allow any customer to buy, sell, or
                                swap
                                ETHAX Tokens or any other major cryptocurrency at the lowest possible market fees.
                            </p>
                            <p class="text-white content-font font-20 fw-300">
                                A DEX is a peer-to-peer marketplace where transactions occur directly between crypto traders.
                                DEXs
                                fulfil one of crypto’s core possibilities: fostering financial transactions that aren’t
                                officiated
                                by banks, brokers, payment processors, or any other kind of intermediary.
                            </p>
                            <div class="section2_text_btn w35">
                                <a type="button" class="fx-r-center text-black bg-blue cursor"
                                routerLink="/shared/buy-ethax">BUY ETHAX <i class="fa-solid fa-arrow-right arrow text-black"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="dex_section2_child1 fx-r-spbtwn">
                    <div class="dex_section2_left w40">
                        <div class="section2_left_image">
                            <img src="../../../../assets/images/dex-Swap-2.png" alt="revenue-image" width="90%" class="br-20 ">
                        </div>
                    </div>
                    <div class="dex_section2_right w60">
                        <div class="section2_text fx-dc">
                            <p class="text-white content-font font-20 fw-300">
                                In the first quarter of 2021, $217 billion in transactions flowed through decentralised
                                exchanges. As of April 2021, there were more than two million DeFi traders, a ten-fold increase
                                from May 2020.
                            </p>
                            <p class="text-white content-font font-20 fw-300">
                                Unlike centralised exchanges DEXs don’t allow for exchanges between fiat and crypto — instead,
                                they exclusively trade cryptocurrency tokens for other cryptocurrency tokens. Via a centralised
                                exchange (or CEX), you can trade fiat for crypto (and vice versa) or crypto-crypto pairs — say
                                some of your bitcoin for ETH. You can also often make more advanced moves, like margin trades or
                                setting limit orders. But all of these transactions are handled by the exchange itself via an
                                “order book” that establishes the price for a particular cryptocurrency based on current buy and
                                sell orders — the same method used by stock exchanges like Nasdaq.
                            </p>
                            <div class="section2_text_btn w35">
                                <a type="button" class="fx-r-center text-black bg-blue cursor"
                                routerLink="/shared/buy-ethax">BUY ETHAX <i class="fa-solid fa-arrow-right arrow text-black"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="dex_section2_child1 fx-r-spbtwn">
                    <div class="dex_section2_left w40">
                        <div class="section2_left_image">
                            <img src="../../../../assets/images/dex-Swap-3.png" alt="revenue-image" width="90%" class="br-20 ">
                        </div>
                    </div>
                    <div class="dex_section2_right w60">
                        <div class="section2_text fx-dc">
                            <p class="text-white content-font font-20 fw-300">
                                Decentralised exchanges, on the other hand, are simply a set of smart contracts. They establish
                                the prices of various cryptocurrencies against each algorithmically and use “liquidity pools” —
                                in which investors lock funds in exchange for interest-like rewards — to facilitate trades.
                            </p>
                            <p class="text-white content-font font-20 fw-300">
                                While transactions on a centralised exchange are recorded on that exchange’s internal database,
                                DEX transactions are settled directly on the blockchain
                            </p>
                            <p class="text-white content-font font-20 fw-300">
                                The ETHAX DEX will naturally trade ETHAX Tokens, but ETHAX will also use Pancakeswap DEX as an
                                established business to grow from.
                            </p>
                            <div class="section2_text_btn w35">
                                <a type="button" class="fx-r-center text-black bg-blue cursor"
                                routerLink="/shared/buy-ethax">BUY ETHAX <i class="fa-solid fa-arrow-right arrow text-black"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="responsive fx-c-center bg-black ">
    <img src="../../../../assets/images/resposive-token.png" alt="tab-resposive-token-image" class="tab_img"
        width="45%">
    <p class="tab_resposive_text text-white">ETHAX.io</p>
</div>




<div class="section3_main fx-c-center ">
    <div class="section3_body fx-c-center w100 ht-100">
        <div class="section3_text1 fx-r-center w90">
            <h1 class="text-white font-29">SUPER-POWERED <strong>TECHNOLOGY</strong> • SUPER-POWERED
                <strong>TRADING</strong>
            </h1>
        </div>
        <hr>
        <div class="section3_text2 fx-r-center w90">
            <h1 class="text-white font-29"> VIRTUALLY THE SMARTEST CRYPTO COMPANY <strong>IN THE WORLD</strong>
            </h1>
        </div>
        <hr>

        <div class="main_card fx-r-center w100">
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../../assets/images/section4-card4.webp" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-11 text-white text-a-c">STAKING</h1>
                    <!-- <P class="font-14 content-font text-white cursor">LEARN MORE <i class="fa-solid fa-arrow-right"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../../assets/images/section4-card2.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-11 text-a-c text-white">INVESTMENT FUND</h1>
                    <!-- <P class="font-14 content-font text-white cursor">LEARN MORE <i class="fa-solid fa-arrow-right"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../../assets/images/section4-card3.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-11 text-a-c text-white">RISK MANAGEMENT</h1>
                    <!-- <P class="font-14 content-font text-white cursor">LEARN MORE <i class="fa-solid fa-arrow-right"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../../assets/images/fund-management.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-11 text-a-c text-white">FUND MANAGEMENT</h1>
                    <!-- <P class="font-14 content-font text-white cursor">LEARN MORE <i class="fa-solid fa-arrow-right"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../../assets/images/section4-card5.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start">
                    <h1 class="font-11 text-a-c text-white">TRADING</h1>
                    <!-- <P class="font-14 content-font text-white cursor">LEARN MORE <i class="fa-solid fa-arrow-right"></i></P> -->
                </div>
            </div>
        </div>
    </div>
</div>