<div class="token_main fx-c-center ">
    <div class="token_body fx-c-center w100 ht-100">
        <div class="token_header fx-c-start w90">
            <div class="token_header_child1 fx-r-start ">
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/home">HOME</a>
                <i class="fa-solid fa-chevron-right font-11"></i>
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/services">SERVICES</a>
                <i class="fa-solid fa-chevron-right font-11"></i>
                <a class="text-white font-11 content-font fw-500 cursor" routerLink="/services/ethax-token">ETHAX
                    TOKEN</a>
            </div>
            <div class="token_header_child2">
                <h1 class="text-white font-40 fw-500">ETHAX TOKEN</h1>
            </div>
        </div>
        <img src="../../../../assets/images/resposive-token.png" alt="mobile-resposive-token-image" class="mobile_img"
            width="85%">
        <img src="../../../../assets/images/ETHAX-ADDRESS-1.png.webp" alt="" width="50%" class="ethax_mobile_image">
        <!-- <div class="token_images fx-dc w90">
            <div class="token_images_child1 fx-r-center">
                <a class="w20" routerLink="/services/ethax-trader"><img
                        src="../../../../assets/images/trader-black.webp" alt="trader-image" width="100%"
                        class="cursor"></a>
                <a class="w20" routerLink="/services/ethax-token"><img src="../../../../assets/images/token-black.webp"
                        alt="token-image" width="100%" class="cursor"></a>
                <a class="w20" routerLink="/services/ethax-dex"><img src="../../../../assets/images/swap-black.webp"
                        alt="swap-image" width="100%" class="cursor"></a>
                <a class="w20"><img src="../../../../assets/images/nft-black.webp" alt="nft-image" width="100%"></a>
                <a class="w20"><img src="../../../../assets/images/wallet-black.webp" alt="wallet-image" width="100%"></a>
            </div>
            <div class="token_images_child2 fx-r-center  w100">
                <img src="../../../../assets/images/ETHAX-ADDRESS-1.png.webp" alt="" width="20%">
            </div>
        </div> -->

        <div class="fx-dr about w90">
            <div class="verticle-line"></div>
            <h2 class="text font-32 w100 text-white fw-400">AVAILABLE ON EXCHANGES AND DECENTRALISED EXCHANGES, THE ETHAX
                TOKEN IS A UTILITY
                TOKEN FORGED THROUGH
                SUPER-SMART TOKENOMICS AND GENERATED FOR A LONG-TAIL BUSINESS MODEL.</h2>
        </div>
    
    </div>
</div>

<div class="content">
 
    <div class="fx-dc">
        <div class="color-img-main fx-wrap">
            <div class="colors-img w45">
                <img class="" src="../../../../assets/images/services/Untitled-design-22.png.webp" alt="colors-image"
                    width="80%" class="normal-view-image">
                <img class="" src="../../../../assets/images/tab-color-image.webp" alt="tab-colors-image" width="80%"
                    class="responsive-view-image">
            </div>
            <div class="colors-img-con fx-c-center w55 cursor">
                <div class=" colors-img-about">
                    <p class="font-20 colors-img-heading text-white content-font">The five coloured tokens represent the
                        ambitions of
                        Olympic attitude of faster, higher, stronger, as well as defining that
                        ETHAX simply offers investment opportunities for everyone.</p>
                    <p class="font-20 colors-img-content  text-white content-font">Colours also have recognised
                        connotations:</p>
                    <div class="colors-img-content1">
                        <p class="font-20 text-white content-font cursor">Green – Growth
                        <p class="font-20 text-white content-font cursor">Pink – Nurture
                        <p class="font-20 text-white content-font cursor">Yellow – Happiness
                        <p class="font-20 text-white content-font cursor">Purple – Wealth
                        <p class="font-20 text-white content-font cursor">Blue – Responsible</p>
                    </div>
                    <div class="buy-ethax-btn w35">
                        <a type="button" class="fx-r-center text-black bg-blue cursor"
                            routerLink="/shared/buy-ethax">BUY ETHAX <i
                                class="fa-solid fa-arrow-right text-black"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="color-img-main fx-wrap">
            <div class="colors-img w45">
                <img class="" src="../../../../assets/images/services/blue-token.jpg.webp" alt="" width="80%">
            </div>
            <div class="colors-img-con fx-c-center w55">
                <div class=" colors-img-about">
                    <p class="font-18 colors-img-heading  text-white content-font">The ETHAX token is central to the
                        ETHAX eco system of a self-sustainable business model, comprising of the latest
                        in machine learning and AI technologies, together with advanced and proven trading strategies.
                    </p>
                    <p class="font-18 colors-img-content  text-white content-font">The ETHAX Token uses the latest and
                        arguably one of the best blockchain technologies available in the sector,
                        the Binance Smart Chain (BEP20 Token). This has major advantages over other similar blockchain
                        suppliers such as faster and cheaper transaction costs.</p>
                    <div class="colors-img-content1">
                        <p class="font-18 text-white content-font">The ETHAX Token is available on major Exchanges and
                            Decentralised Exchanges – simply click where you see BUY ETHAX</p>
                    </div>
                    <div class="buy-ethax-btn w35">
                        <a type="button" class="fx-r-center text-black bg-blue cursor"
                            routerLink="/shared/buy-ethax">BUY ETHAX <i
                                class="fa-solid fa-arrow-right text-black"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fx-dc font-32 fw-500 content-2">
            <h4>ETHAX HAS ADDED 8 ETHAX TOKENS TO THEIR OVERALL MAXIMUM SUPPLY; EACH 1 OF THESE 8 ETHAX TOKENS REPRESENT
                THE DISTRIBUTION OF
                100M TOKENS AND WHEN CLAIMED WILL BRING DREAM PRIZES TO THE BUYING WALLET HOLDER.</h4>
            <h4>FOR COMPREHENSIVE TOKENOMICS PLEASE REFER TO THE ETHAX WHITE PAPER BELOW.</h4>
        </div>
    </div>
</div>
<div class="section3_main fx-r-center">
    <div class="section3_body fx-r-center w100 ht-70">
        <div class="section3_text fx-r-spard fx-wrap w100">
            <div class="section3_text_content fx-dc">
                <h3 class="font-24 text-white fw-500">TOKEN PRICE DRIVERS:</h3>
                <div class="section3_content_item fx-r-center">
                    <i class="fa-solid fa-circle-check text-white font-30"></i>
                    <p class="font-17 content-font text-white fw-500">Improvements to Ethax Trader, trading platform</p>
                </div>
                <div class="section3_content_item fx-r-center">
                    <i class="fa-solid fa-circle-check text-white font-30"></i>
                    <p class="font-17 content-font text-white fw-500">Fees paid in Ethax tokens</p>
                </div>
                <div class="section3_content_item fx-r-center">
                    <i class="fa-solid fa-circle-check text-white font-30"></i>
                    <p class="font-17 content-font text-white fw-500">Strategic token release</p>
                </div>
                <div class="section3_content_item fx-r-center">
                    <i class="fa-solid fa-circle-check text-white font-30"></i>
                    <p class="font-17 content-font text-white fw-500">Increased users of Ethax Trader</p>
                </div>
                <div class="section3_content_item fx-r-center">
                    <i class="fa-solid fa-circle-check text-white font-30"></i>
                    <p class="font-17 content-font text-white fw-500">Scaled exchange listings</p>
                </div>
            </div>
            <div class="section3_text_content fx-dc">
                <h3 class="font-24 text-white fw-500">LIQUIDATE ETHAX TOKENS VIA:</h3>
                <div class="section3_content_item fx-r-center">
                    <i class="fa-solid fa-circle-check text-white font-30"></i>
                    <p class="font-17 content-font text-white fw-500">ETHAXswap DEX</p>
                </div>
                <div class="section3_content_item fx-r-center">
                    <i class="fa-solid fa-circle-check text-white font-30"></i>
                    <p class="font-17 content-font text-white fw-500">Decentralised Exchanges</p>
                </div>
                <div class="section3_content_item fx-r-center">
                    <i class="fa-solid fa-circle-check text-white font-30"></i>
                    <p class="font-17 content-font text-white fw-500">PancakeSwap</p>
                </div>
                <div class="section3_content_item fx-r-center">
                    <i class="fa-solid fa-circle-check text-white font-30"></i>
                    <p class="font-17 content-font text-white fw-500">Centralised major exchanges</p>
                </div>
                <div class="section3_content_item fx-r-center">
                    <i class="fa-solid fa-circle-check text-white font-30"></i>
                    <p class="font-17 content-font text-white fw-500">ProBit</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section4_main fx-c-center">
    <div class="section4_body fx-c-center w100">
        <div class="main_card fx-r-center ">
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../assets/images/section4-card2.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-12 text-white text-a-c">INVESTMENT FUND</h1>
                    <!-- <P class=" fx-dr font-14 content-font text-white cursor">LEARN MORE <i
                            class="fa-solid fa-arrow-right arrow"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../assets/images/section4-card3.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-12 text-white text-a-c">RISK MANAGEMENT</h1>
                    <!-- <P class="fx-dr font-14 content-font text-white cursor">LEARN MORE <i
                            class="fa-solid fa-arrow-right arrow"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../assets/images/section4-card4.webp" alt="card2">
                </div>
                <div class="card_text fx-c-start ">
                    <h1 class="font-12 text-white text-a-c">STAKING</h1>
                    <!-- <P class="fx-dr font-14 content-font text-white cursor">LEARN MORE <i
                            class="fa-solid fa-arrow-right arrow"></i></P> -->
                </div>
            </div>
            <div class="card fx-c-start bg-black">
                <div class="card_image">
                    <img src="../../../assets/images/section4-card5.jpg" alt="card2">
                </div>
                <div class="card_text fx-c-start">
                    <h1 class="font-12 text-white text-a-c">TRADING</h1>
                    <!-- <P class=" fx-dr font-14 content-font text-white cursor">LEARN MORE <i
                            class="fa-solid fa-arrow-right arrow"></i></P> -->
                </div>
            </div>
        </div>

        <div class="section4_images  fx-r-center fx-wrap">
            <a class="w15" routerLink="/services/ethax-trader"><img src="../../../../assets/images/trader-black.webp"
                    alt="trader-image" width="100%" class="cursor"></a>
            <a class="w15" routerLink="/services/ethax-token"><img src="../../../../assets/images/token-black.webp"
                    alt="token-image" width="100%" class="cursor"></a>
            <a class="w15" routerLink="/services/ethax-dex"><img src="../../../../assets/images/swap-black.webp"
                    alt="swap-image" width="100%" class="cursor"></a>
            <a class="w15"><img src="../../../assets/images/nft-black.webp" alt="nft" width="100%"></a>
            <a class="w15"><img src="../../../assets/images/wallet-black.webp" alt="wallet" width="100%"></a>
        </div>

        <div class="parallax_pages fx-r-spbtwn w90">
            <div class="parallax_pages_left fx-dr">
                <i class="fa-solid fa-chevron-left text-white font-32"></i>
                <h2 class="text-white font-32 fw-200 cursor" routerLink="/services/ethax-token">SERVICES</h2>
            </div>
            <div class="parallax_pages_left fx-dr">
                <h2 class="text-white font-32 fw-200 cursor" routerLink="/services/ethax-trader">ETHAX TOKEN</h2>
                <i class="fa-solid fa-chevron-right text-white font-32"></i>
            </div>

        </div>
    </div>
</div>