<div class="main">
    <div class="main_body">
        <!-- banner -->
        <div class="banner fx-c-center">
            <div class="banner_body fx-dc w80">
                <div class="banner_body_child1 fx-dr">
                    <div class="banner_body_child1_left fx-c-center w60">
                        <div class="main_image">
                            <img src="../../../assets/images/logo.webp" alt="banner-left-image" width="97%">
                        </div>
                    </div>
                    <div class="banner_body_child1_right fx-r-end w40">
                        <img src="../../../assets/images/banner-right.webp" alt="banner-right-image" width="60%">
                    </div>
                </div>

                <div class="banner_body_child2">
                    <div class="banner_body_child2_images fx-dr ">
                        <a class="w11" routerLink="/services/ethax-trader"><img
                                src="../../../assets/images/Icon-Button_Trader_Blue.png.webp" alt="trader" width="100%"
                                class="cursor"></a>
                        <a class="w11" routerLink="/services/ethax-token"><img
                                src="../../../assets/images/Icon-Button_Token_Blue.png.webp" alt="token" width="100%"
                                class="cursor"></a>
                        <a class="w11" routerLink="/services/ethax-dex"><img
                                src="../../../assets/images/Icon-Button_Swap_Blue.png.webp" alt="swap" width="100%"
                                class="cursor"></a>
                        <!-- <a class="w11"><img src="../../../assets/images/Icon-Button_NFT_Blue.png.webp" alt="nft"
                                width="100%">
                        </a>
                        <a class="w11"><img src="../../../assets/images/Icon-Button_Wallet_Blue.png.webp" alt="wallet"
                                width="100%">
                        </a> -->
                    </div>
                </div>

                <div class="banner_body_child3 fx-c-start ">
                    <div class="banner_body_child3_content fx-dc text-a-c">
                        <h3 class="text-blue font-16">VIRTUALLY THE SMARTEST DIGITAL ASSET COMPANY IN THE WORLD</h3>
                        <p class="text-white font-14 content-font fw-700">Awarded TechRound’s FinTech Top50</p>
                        <p class="text-white font-14 content-font fw-700">CoinMarktecap Verified</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- section1 -->
        <div class="section2_main fx-r-center bg-black">
            <div class="section2_body fx-r-center  w90">
                <div class="section2_left w40">
                    <img src="../../../assets/images/section2-image.webp" alt="section2-image" width="90%"
                        class="br-20">
                </div>
                <div class="section2_right fx-dc w60">
                    <div class="section2_right_content fx-dc">
                        <h1 class="small_screen_heading text-white">TRADING</h1>
                        <p class="text-white content-font font-20 fw-300">ETHAX trades in various digital assets and
                            blockchain technologies.</p>
                        <p class="text-white content-font font-20 fw-300">ETHAX trades in many digital assets ranging
                            from the top 25 in market cap to lower-mid
                            end market cap digital assets. In-house professional traders have experience of
                            successfully trading more than $150m volume in digital assets since the inception
                            of the company businesses.
                        </p>
                        <p class="text-white content-font font-20 fw-300">ETHAX adopts a combination of traditional and
                            unique trading
                            techniques together with utilising external data sources to inform trading decisions.
                        </p>
                    </div>
                    <div class="section2_button">
                        <a type="button" class="font-14 fw-700 text-black bg-blue cursor"
                            routerLink="/shared/buy-ethax">BUY ETHAX
                            <i class="fa-solid fa-arrow-right text-black"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!-- section3 -->
        <div class="section3_main fx-c-center ">
            <div class="section3_body fx-c-center w100 ht-60">
                <div class="section3_text1 fx-r-center w100">
                    <h1 class="text-white font-29">SUPER-POWERED <strong>TECHNOLOGY</strong> • SUPER-POWERED
                        <strong>TRADING</strong>
                    </h1>
                </div>
                <hr>
                <div class="section3_text2 fx-r-center w100">
                    <h1 class="text-white font-29"> VIRTUALLY THE SMARTEST CRYPTO COMPANY <strong>IN THE WORLD</strong>
                    </h1>
                </div>
                <hr>
            </div>
        </div>

        <!-- section4 -->
        <div class="section4_main fx-c-center">
            <div class="section4_body fx-c-center w100">
                <div class="main_card fx-r-center w100">
                    <div class="card fx-c-start bg-black">
                        <div class="card_image">
                            <img src="../../../assets/images/section4-card2.jpg" alt="card2">
                        </div>
                        <div class="card_text fx-c-start ">
                            <h1 class="font-12 text-white text-a-c">INVESTMENT FUND</h1>
                        </div>
                    </div>
                    <div class="card fx-c-start bg-black">
                        <div class="card_image">
                            <img src="../../../assets/images/section4-card3.jpg" alt="card2">
                        </div>
                        <div class="card_text fx-c-start ">
                            <h1 class="font-12 text-white text-a-c">RISK MANAGEMENT</h1>
                        </div>
                    </div>
                    <!-- <div class="card fx-c-start bg-black">
                        <div class="card_image">
                            <img src="../../../assets/images/section4-card4.webp" alt="card2">
                        </div>
                        <div class="card_text fx-c-start text-a-c">
                            <h1 class="font-12 text-white text-a-c">STAKING</h1>
                        </div>
                    </div>
                    <div class="card fx-c-start bg-black">
                        <div class="card_image">
                            <img src="../../../assets/images/section4-card5.jpg" alt="card2">
                        </div>
                        <div class="card_text fx-c-start">
                            <h1 class="font-12 text-white text-a-c">TRADING</h1>
                        </div>
                    </div> -->
                </div>

                <div class="section4_images  fx-r-center fx-wrap">
                    <a class="w15" routerLink="/services/ethax-trader"><img
                            src="../../../assets/images/token-black.webp" alt="trader" width="100%"></a>
                    <a class="w15" routerLink="/services/ethax-token"><img
                            src="../../../assets/images/trader-black.webp" alt="token" width="100%"></a>
                    <a class="w15" routerLink="/services/ethax-dex"><img src="../../../assets/images/swap-black.webp"
                            alt="swap" width="100%"></a>
                    <!-- <a class="w15"><img src="../../../assets/images/nft-black.webp" alt="nft" width="100%">
                    </a>
                    <a class="w15"><img src="../../../assets/images/wallet-black.webp" alt="wallet" width="100%">
                    </a> -->
                </div>
            </div>
        </div>


    </div>
</div>