<div class="dashboard_main fx-c-center pad-tb-20-sec">
    <div class="dashboard_body fx-c-center ">
        <div class="logo fx-c-center">
            <img src="../../../assets/images/dashboard-logo.png" alt="dashboard-logo" width="43%">
        </div>

        <div class="main_form fx-c-center w40">
            <form action="" class="fx-c-center">
                <div class="form_heading fx-dc">
                    <h1 class="content-font text-blue fw-600">FORGET PASSWORD?</h1>
                </div>

                <div class="form_child1 fx-c-center">
                    <div class="form_group">
                        <input type="text" placeholder="Email" class="text-white content-font font-16">
                    </div>
                </div>

                <div class="form_buttons fx-dc">
                    <button class="content-font text-white bg-purple font-14 cursor">RESET PASSWORD</button>
                    <P class="text-white font-14 content-font">Already have an account? <span
                            class="text-blue fw-600 cursor" routerLink="/accounts/dashboard">Sign In Instead</span></P>
                </div>
            </form>
        </div>
        <div class="policy fx-c-center">
            <p class="content-font text-white font-13 cursor" routerLink="/shared/privacy-policy">Privacy Policy</p>
            <p class="content-font text-white font-13 cursor" routerLink="/shared/terms-conditions">Terms and Conditions</p>
            <p class="content-font text-white font-13">© 2022 ETHAX. All Right Reserved.</p>
        </div>
    </div>
</div>