.dashboard_main{
    background-image: url('../../../assets/images/banner-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 47px !important;
}
.dashboard_body{
    justify-content: flex-start;
    gap: 30px;
    height: 100vh;
    padding-top: 45px;
}
form{
    gap: 15px;
}
.form_heading{
    gap: 6px;
}
.form_heading h1{
    font-size: 1.5em;
}
.form_child1{
    gap: 15px;
}
.form_group input{
    background-color: transparent;
    border: 1px solid white;
    padding: 6px 8px;
    width: 28vw;
}
.form_buttons{
    gap: 15px;
}
.form_buttons button{
    border: none;
    width: 28vw;
    padding: 10px;
}
.form_buttons button:hover{
    background-color: #1feff6;
    color: black !important;
}
.policy{
    gap: 5px;
}
.policy p:hover{
    text-decoration: underline;
}

@media screen and (max-width:575px) {
    .logo img{
        width: 65%;
    }
    .form_heading{
        width: 100%;
    }
    .main_form{
        width: 100% !important;
        align-items: center !important;
    }
    form{
        align-items: center !important;
    }
    .form_child1 input{
        width: 75vw;
    }
    .form_buttons button{
        width: 75vw;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .form_child1 input{
        width: 40vw;
    }
    .form_buttons button{
        width: 40vw;
    }
}